$color-primary: #6f42c1;
$color-secondary: #adb5bd;
$color-primary-light: #a98eda;
$color-primary-dark: #59359a;
$color-secondary-light: #dee2e6;
$color-secondary-dark: #6c757d;
$color-base: #e9ecef;

$color-success: #198754;
$color-error: #dc3545;
$color-warning: #ffc107;
$color-info: #6610f2;
$color-light: #ffffff;
$color-dark: #000000;
