# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


src/assets/fonts/OpenSans_Condensed-Bold.ttf
src/assets/fonts/OpenSans_Condensed-BoldItalic.ttf
src/assets/fonts/OpenSans_Condensed-ExtraBold.ttf
src/assets/fonts/OpenSans_Condensed-ExtraBoldItalic.ttf
src/assets/fonts/OpenSans_Condensed-Italic.ttf
src/assets/fonts/OpenSans_Condensed-Light.ttf
src/assets/fonts/OpenSans_Condensed-LightItalic.ttf
src/assets/fonts/OpenSans_Condensed-Medium.ttf
src/assets/fonts/OpenSans_Condensed-MediumItalic.ttf
src/assets/fonts/OpenSans_Condensed-Regular.ttf
src/assets/fonts/OpenSans_Condensed-SemiBold.ttf
src/assets/fonts/OpenSans_Condensed-SemiBoldItalic.ttf
src/assets/fonts/OpenSans_SemiCondensed-Bold.ttf
src/assets/fonts/OpenSans_SemiCondensed-BoldItalic.ttf
src/assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf
src/assets/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf
src/assets/fonts/OpenSans_SemiCondensed-Italic.ttf
src/assets/fonts/OpenSans_SemiCondensed-Light.ttf
src/assets/fonts/OpenSans_SemiCondensed-LightItalic.ttf
src/assets/fonts/OpenSans_SemiCondensed-Medium.ttf
src/assets/fonts/OpenSans_SemiCondensed-MediumItalic.ttf
src/assets/fonts/OpenSans_SemiCondensed-Regular.ttf
src/assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf
src/assets/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf
src/assets/fonts/OpenSans-BoldItalic.ttf
src/assets/fonts/OpenSans-ExtraBold.ttf
src/assets/fonts/OpenSans-ExtraBoldItalic.ttf
src/assets/fonts/OpenSans-Italic.ttf
src/assets/fonts/OpenSans-Light.ttf
src/assets/fonts/OpenSans-LightItalic.ttf
src/assets/fonts/OpenSans-Medium.ttf
src/assets/fonts/OpenSans-MediumItalic.ttf
src/assets/fonts/OpenSans-SemiBold.ttf
src/assets/fonts/OpenSans-SemiBoldItalic.ttf
